<h1>Home Page</h1>

<ul>
    <li><a href="">Chatroom</a></li>
    <li><a href="">Messages</a></li>
    <li><a href="">Log in</a></li>
    <li><a href="">Log out</a></li>
    <li><a href="">Sign up</a></li>
</ul>

<h2>Chat</h2>
<ul>
    <li><a href="">Home</a></li>
    <li><a href="">Messages</a></li>
    <li><a href="">Friends</a></li>
</ul>

<h2>Say something:</h2>
<div style="border: 1px solid grey; height: 400px; width: 800px;">
    <p><strong>Cristiano Ronaldo: </strong>Hey there!</p>
</div>
<input type="text", placeholder="Enter a message...">
<input type="button" value="Send">
