<h1>Home</h1>

<ul>
    <li><a href="">Chatroom</a></li>
    <li><a href="">Messages</a></li>
    <% if !logged_in %>
        <li><%= link_to "Log in" , login_path %></li>
        <li><a href="">Sign up</a></li>
    <% else %>
        <li><%= link_to "Log out" , logout_path, method: :delete %></li>
    <% end %>
</ul>

<h2>Chat</h2>
<ul>
    <li><a href="">Home</a></li>
    <li><a href="">Messages</a></li>
    <li><a href="">Friends</a></li>
</ul>

<h2>Say something</h2>

<%= render 'chatbox' %>
